/* Login Page CSS */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 8px 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Additional styles for the admin login button */
#admin-login-button {
  background-color: #f44336;
}

#admin-login-button:hover {
  background-color: #d32f2f;
}

.vehicle-card {
  max-width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.vehicle-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.vehicle-info {
  color: #555;
}

.vehicle-info p {
  margin: 0;
  padding: 5px 0;
}

.vehicle-info strong {
  display: inline-block;
  width: 80px;
}

.vehicle-info span {
  font-weight: bold;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-container {
  display: flex;
  align-items: center;
}

.order-input {
  width: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.order-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}